---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -readability-simplify-boolean-expr,
        -cppcoreguidelines-pro-type-const-cast,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -cppcoreguidelines-pro-type-vararg,
        -hicpp-vararg,
        -readability-uppercase-literal-suffix,
        -hicpp-avoid-c-arrays,
        -modernize-avoid-c-arrays,
        -cert-dcl58-cpp,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -hicpp-uppercase-literal-suffix,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers,
        -readability-function-cognitive-complexity,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-owning-memory,
        -hicpp-no-malloc,
        -cppcoreguidelines-no-malloc,
        -readability-named-parameter,
        -cppcoreguidelines-pro-type-union-accessm,
        -cppcoreguidelines-pro-type-union-access,
        -hicpp-signed-bitwise,
        -readability-redundant-access-specifiers,
        -cppcoreguidelines-avoid-c-arrays,
        -bugprone-macro-parentheses,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -hicpp-no-array-decay,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -readability-use-anyofallof,
        -hicpp-avoid-goto,
        -cppcoreguidelines-avoid-goto,
        -bugprone-reserved-identifier,
        -cert-dcl51-cpp,
        -cert-dcl37-c,
        -misc-unconventional-assign-operator,
        -cppcoreguidelines-c-copy-assignment-signature,
        -readability-identifier-length,
        -cppcoreguidelines-pro-type-member-init,
        -hicpp-member-init,
        -cppcoreguidelines-pro-type-cstyle-cast,
        -performance-no-int-to-ptr,
        -cppcoreguidelines-avoid-const-or-ref-data-members,
        -modernize-use-using,
        -hicpp-named-parameter,
        -cppcoreguidelines-avoid-do-while,
        -hicpp-explicit-conversions,
        -misc-use-internal-linkage,
        -bugprone-casting-through-void,
        -performance-enum-size,
        -need_header_before_placement_new,
        -clang-tidy-cert-err58-cpp,
        -modernize-use-designated-initializers
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'
    